.modal-wrapper{
    height: 100%;
    width: 100%;
    background-color: var(--grey-opacity);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
    overflow-y: scroll;
}

.modal{
    margin-top: 100px;
    background-color: var(--color-white);
    width: 700px;
    max-width: 90%;
    height: max-content;
    max-height: 95vh;
    position: relative;
    overflow-y: scroll;
    z-index: 1;
}

.modal .div-profile img{
    width: 50px;
    height: 50px;
}

.show-modal{
    display: flex;
}

.show-modal .modal{
    animation: modalAnimation 1s ease;
}

.close-modal{
    width: 30px;
    height: 30px;
    background-color: var(--color-grey-4);
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: var(--grey-1);
    border-radius: 50%;
}

@keyframes modalAnimation{
    0%{
        opacity: 0;
        transform: translateY(-100%);

    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }

}