.title-1{
    font-size: var(--title-1);
}
.title-2{
    font-size: var(--title-2);
}
.title-3{
    font-size: var(--title-3);
}

.text-1{
    font-size: var(--text-1);
}

.text-2{
    font-size: var(--text-2);
}
.text-3{
    font-size: var(--text-3);
}

.line-heigth{
    line-height: 150%;
}